@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
   font-family: 'poppins', sans-serif;
   margin:0;
   padding:0;
   list-style: none;
   box-sizing: border-box;
   text-decoration: none;
   outline: none; border: none;
   text-transform: capitalize;
   scroll-behaviour: smooth;
   scroll-padding-top: 3.5rem;
}

:root{
    --main-color: #ce8c97;
    --text-color: #FFFFFF;
    --second-color: #000000;
    --border-color: #FFFFFF;
}

.body{
  background-color: var(--main-color);
}
.movie{
  background: var(--main-color);
   display: center;
   justify-content: center;
   align-items: center;
   margin-top: 0;
}
.movie .row{
  display: center;
   justify-content: center;
   align-items: center;
   margin-top: 5px;
}

.movie h1{
   color: var(--text-color);
   margin: 20px 0px 20px;
   font-size: 4.0rem;
   text-align: center;
   margin-bottom: 5px;
   top: 30;
}

.movie h3{
  margin: 20px 0px 20px;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0;
}

.movie .left-image{
     border-radius: 50%;
     height: 80;
     width: 80;
     top: 30;
     scale: 0.9;
}


.movie .right-image{
     border-radius: 50%;
     height: 80;
     width: 80;
     bottom : 30;
     scale: 0.9;
}
.choice .genre-choice{
    display: center;
    justify-content: center;
    align-items: center;
    font-weight:normal;
    text-align: center;
    width: 20px;
}
.option{
   display: center;
   justify-content: center;
   align-items: center;

}
.movie .choice,
.movie .genre-btn {
  display: flex;
  justify-content: center;
}


.movie .genre-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-align: center;
  width: 100px;
  margin-top: 1.0rem;
}

.button {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;

}
.button .genre-btn{
    background: var(--second-color);
    color: var(--text-color);
    border: 2px solid transparent;
    font-weight: 600;
    padding: 13px 30px;
    border-radius: 30px;
    transition: ease .35s;
    margin-top: 1.0rem;
    margin-bottom: 1.5rem;
    right: 200;
}

.container {
   text-align:center;
}

/*.movie-posts{
   height: 300px;
   width: 250px;
   padding: 4px;
   box-shadow: 0px 0px 8px 2px var(--border-color);
   margin: 20px;
   display: center;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}*/

.movie-title{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.0rem;
}

.movie-img{
   height: 270px;
   text-align: center;
   margin-bottom: 0;
}
.movie-img .img{
   height: 100%;
   width: 100%;
}
.movie-text p{
    right: 200;
}


.movie-title {
   color: #000000;
   font-weight: 800;
}
