@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

:root{
    --main-color: #ce8c97;
    --text-color: #FFFFFF;
    --second-color: #000000;
    --border-color: #FFFFFF;
}
*{
   font-family: 'poppins', sans-serif;
   margin:0;
   padding:0;
   list-style: none;
   box-sizing: border-box;
   text-decoration: none;
   outline: none; border: none;
   text-transform: capitalize;
   scroll-behaviour: smooth;
   scroll-padding-top: 3.5rem;
   background-color: var(--main-color);
}


body{
  background-color: var(--main-color) !important;

}
/*.movie{
  background: var(--main-color);
   display: center;
   justify-content: center;
   align-items: center;
   margin-top: 0;
}*/

/**#likebtn{
   font-size: 32px;
   color: green;
   background-color: var(--main-color);
}

#dislikelikebtn{
   font-size: 32px;
   color: red;
   background-color: var(--main-color);
}
.likeordislikebtn{
    margin-bottom: 20px;
}**/

.messages li{
   color: black;
}

.header {
    display: flex;
    padding: 20px;
    align-items: center;

  }

  .header .logo {
    flex-grow: 1;
    font-weight: 300;
    text-align: left;
    color: black;
  }

  .header .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header .navbar ul li {
    margin-left: 20px;
  }
  .header .navbar ul li:first-child a{
     color: black;
     font-size: 1.3rem;
     font-weight: 500;
  }
.login-form{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--second-color);
}
.login-form label,
.login-form input,
.login-form button,
.login-form small{

   margin-bottom: 10px;
}
.Reg-form{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--second-color);
}
.Reg-form label,
.Reg-form input,
.Reg-form button,
.Reg-form small{

   margin-bottom: 10px;
}
.logout-form{
   justify-center: center;
   text-align: center;

}
.logout-form h5{
   color: black;
}

.container{
    margin-top:200px;
}

.btn:hover{
    color:#fff;
}

.input-text:focus{


    box-shadow: 0px 0px 0px;
    border-color:#f8c146;
    outline: 0px;
}

.form-control {
    border: 1px solid #f8c146;
}
/**  **/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--main-color);
    color: black;
    text-align: center;
    padding: 10px;

}
.footer h5{
   font-family: "Times New Roman", Times, serif;
   font-weight: 30px;
   background-color: var(--main-color);
   margin-bottom: 50;
}



