{% extends "base.html" %}
{% load static %}

{% block content %}
<body class="movie">
  <div class="container">
      <form contact="" method='get' id='movie-search'>
         <input type='text' id='movie-search-id' placeholder="What do you want to watch?">
         <button type='submit' id='search'> Search </button>
      </form>
  </div>
</body>
<body class='movie' >
<div class='container'>

   <div class="row">
   <div class="column">
       <img class="left-image" src={% static 'images/movie.JPG'%} >
   </div>
   <div class="column">
        <h1>MOVIE FINDER </h1>
   </div>
   <div class="column">
       <img class="right-image" src={% static 'images/popcorns.JPG'%} >
   </div>
   </div>

   <form id="genreform">
   <div class="genre">
       <h3> Choose a genre:</h3>
   </div>

  <div class="choice">
     <select name="genre-choice" id="genre-choice" >
         <option value="">Action</option>
          <option value="">Romance</option>
           <option value="">Adventure</option>
            <option value="">Animation</option>
             <option value="">Comedy</option>
              <option value="">Crime</option>
               <option value="">Documentary</option>
                <option value="">Drama</option>
                <option value="">Family</option>
                <option value="">Fantasy</option>
                <option value="">History</option>
                <option value="">Horror</option>
                <option value="">Music</option>
                <option value="">Mystery</option>
                <option value="">Sci-Fi</option>
                <option value="">War</option>
                <option value="">Thriller</option>
      </select>
        </div>
      </form>
  </div>
  <div class="button">
    <button class="genre-btn"> Let's Play! </button>
  </div>

<section class="container">

<div class="movie-container">
<div class='row'>
 <div class='col-2'>
  <div class="movie-posts">
     <div class="movie-title"> DISOBEDIENCE </div>
        <div class="movie-img">
            <img src="{% static 'images/lgbt.JPG'%}" alt="no image" width=170px height=220px >
        </div>
  </div>
</div>
<div class='col-2'>
<div class="movie-text">
   <p> The film follows a woman as she returns to her orthodox jewish community
   tat shunned her for decades earlier for an attaction to a female chilhood
   friend</p>
</div>
</div>
</div>

<div id="likeordislikebtn">
   <button id="likebtn">
     <i class="fa fa-thumbs-up" aria-hidden="true"></i>
   </button>
    &nbsp;&nbsp;
   <button id="dislikelikebtn">
     <i class="fa fa-thumbs-down" aria-hidden="true"></i>
   </button>
</div>
<br>
<br>
</section>

</body>
</html>

{% endblock %}
