{% extends "base.html" %}
{% load static %}

{% block content %}
<form contact="" method="post" id="loginForm">
 {% csrf_token %}
   <div class='login-form'>
      {% for form in forms %}
      {{form.username.label_tag}}
      <br>
      {{form.username}}
      <br>
      <br>
      {{form.password.label_tag}}
      <br>
      {{form.password}}
      <br>
      <br>
      {% endfor %}
      <button type="submit" class="login-btn" > Submit </button>
      <br>
      <br>
      <small>Do not have an account yet? <a href="{% url 'registration' %}" > Register Now</a></small>
    <br>
    <br>
    </div>
</form>
{% endblock%}
