{% extends 'base.html' %}
{% load static %}

{% block content%}
<!--- MOVIE DETAILS --->
<section class="movie-details">
    <div class="container">
  <button id="close-moviedetails" class="closemodal">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  </button>
  <h3>MOVIE TITLE</h3>

  <div class="row">
    <div class="col-6">
      <h5>Seasons: 6</h5>
    </div>
    <div class="col-6">
      <h5>Rating: 70%</h5>
    </div>
    <div class="col-6">
      <h5>Runtime: 1 hour 20 minutes</h5>
    </div>
    <div class="col-6">
      <h5>Genre: kids Tv</h5>
    </div>
    <div class="col-6">
      <h5>Content-rating: TY-Y</h5>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-6">
      <img src="{%static 'images/movieapp.jpg'%}" alt="no image" height="400" width="400">
    </div>
    <div class="col-6">
      <h4>Description</h4>
      <p>paragraph about the movie</p>

      <h4>CAST:</h4>
      <p>cast list</p>

      <h4>CREATED BY:</h4>
      <p>Phenolah Awuor</p>
    </div>
      <div class="row">
        <div class="col-6">
          <h4> ADD TO WATCHLIST</h4>
          <p></p>
        </div>
        <div class="col-6">
          <h4> RATE IT </h4>
          <p></p>
        </div>
      </div>
  </div>
</div>


</section>
{% endblock%}
